.user-form {
	font-family: Roboto;
	font-weight: 400;
	font-size: 15px;
	width: 570px;
	margin: 0 auto;
	padding-top: 30px;
	}
	.full-name {
		display: flex;
		justify-content: space-between;
	}
	* input {
		font-size: 15px;
		padding: 5px;
		width: 250px;
		margin: 12px 0px 7px 0px;
	}
	.err{
		display: flex;
		gap: 10px;
		font-size: 12px;
		color: rgb(127, 127, 127);
	}
	.err-messege {
		color: rgb(205, 95, 167);
	}
	.title::after{
		content: ' *';
		color: rgb(205, 95, 167);
	}
	
	.address {
		margin-top: 30px;
	}
	
	.address input{
		width: 556px;
	}
	
	.city-state {
	display: flex;
	justify-content: space-between;
	}
	.city-state input {
		width: 250px;
	}
	.tell {
		margin: 30px 0 10px 0;
	}
	.submit,
	.submit-active {
		margin-top: 35px;
		width: 250px;
		padding: 12px 40px;
		background: #fff;
		border: 1px solid rgb(0, 177, 80);
		border-radius: 3px;
		cursor: auto;
	}
	.submit-active {
		cursor: pointer;
	}